<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="md-menu" style="color:#ffffff"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()" class="searchbr"></ion-searchbar>

</ion-header>


<ion-content no-padding style="background: #f2f2f2;" scroll="false" >
 <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div> 
  <ion-list>
       <div class="datadic" *ngFor="let item of items">
         <h4>
             {{item.title}}
         </h4>
             <p>
               {{item.description}}
             </p>
       </div>
     </ion-list>
  
</ion-content>
